/* ==========================================================================
   Import libraries
   ========================================================================== */

@import 'options';
@import '../bourbon/bourbon';
@import 'chosen';

/* ==========================================================================
   General improvements
   ========================================================================== */

/*
 * Fix box-sizing
 */

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Chrome frame
 */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   General Styles
   ========================================================================== */

html,
body {
  height:100%;
}

body {
  font-size: 14px;
  line-height: 18px;
  color: $body-text-color;
}

h1 {
  font-size: 26px;
  margin:0 0 40px 0;
  padding:0 0 10px 0;
}

h2 {
  font-size: 20px;
  margin:0 0 20px 0;
  padding: 0px;
}

ul {
  list-style: square;
  padding:0px;
  margin:0 0 20px 16px;
}

a:not(.button, .button-light) {
  color:$body-text-color;
  @include transition(color 0.2s);

  &:hover {
    color:rgba($body-text-color,0.6);
  }
}

.padding {
  padding:$padding;
}

.hide {
  display: none !important;
}

.clear {
  clear:both;
}

/* ==========================================================================
   Buttons & Forms
   ========================================================================== */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin:0 6px 0 0 !important;
  font-size: 0.8em;
}

nav [class^="icon-"]:before,
nav [class*=" icon-"]:before {
  margin:0 0 0 0 !important;
  font-size: 1.2em;
}

input[type="submit"],
button,
.button-row a,
.button {
  @include buttons;
}

.button-light {
  @include buttons-light;
}

.button-row {
  height:59px;
  line-height: 59px;
  border-bottom: 1px solid $border-color;
  padding:0 $padding;
  background-color: $list-hover;

  a {
    margin:0 10px 0 0;
  }

}

.info-wrapper {

  display: inline-block;
  float:right;

  span.info {
    @include buttons-general;
    color:rgba(0,0,0,0.5);
    border:1px solid rgba(0,0,0,0.1);
  }

  span.info:before {
    color:rgba(0,0,0,0.5);
  }

}

input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
}

label input[type="checkbox"],
input[type="checkbox"] + label {

  line-height: 16px;
  display: inline-block;
  height: 28px;

  @include transition(color 0.2s);

  &:hover {
    cursor: pointer;
    color:rgba($body-text-color,0.6);
  }
}

input[type="checkbox"]:focus + label:before {
  border-color: $middleblue;
}

input[type="checkbox"] + label:before {
  @include transition(border-color 0.2s);
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  border: 1px solid $border-color;
  color: $body-text-color;
  content: "\e070";
  font-family: 'Elusive-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  line-height: 12px;
  text-indent: -9999px;
}

input[type=checkbox]:checked + label:before {
  text-indent: 0px;
}

.form-crud {

  padding:15px $padding;

  input[type="text"],
  input[type="number"],
  input[type="password"],
  textarea {
    @include input;

    &:focus {
      @include input-focus;
    }

  }

  textarea {
    height:80px;
  }

  .chosen-container {
    margin-bottom: 10px;
  }

  input[type="submit"],
  button {
    width: auto;
    float:left;
    margin:0 10px 0 0;
  }

}

.bubble {
  position: absolute;
  left:620px;
  z-index: 1000000;
  top:80px;
  padding: $padding;
  padding-top: $padding/2;
  padding-bottom: $padding/2;
  width: 300px;
  background: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: $middleblue solid 1px;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.5s, visibility 0.5s, top 0.5s);

  input {
    @include input;

    &:focus {
      @include input-focus;
    }

  }
  
}

.bubble-open {
  opacity: 1;  
  visibility: visible;
  top:106px;
}

.bubble:after {
  content: '';
  position: absolute;
  z-index: 1000000;  
  border-style: solid;
  border-width: 0 15px 10px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 135px;
}

.bubble:before {
  content: '';
  position: absolute;
  z-index: 1000000;  
  border-style: solid;
  border-width: 0 15px 10px;
  border-color: $middleblue transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  left: 135px;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  width:100%;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  background-color: $sand-light;
  border-bottom: 1px solid $sand-dark;
  padding:0 25px;
  text-align: right;
  z-index: 1000;

  a {
    color:rgba(0,0,0,0.6);
    text-decoration: none;
  }

  a.logout,
  button {
    @include buttons-general;
    background-color: rgba($sand-dark,0.4);
    color: darken($sand-dark,40%);
    border: 1px solid $sand-dark;
    display: inline-block;
    margin:0 0 0 6px;

    &:hover {
      background-color:rgba($sand-dark,0.6);
      border: 1px solid $sand-dark;
    }

  }

  .logo {
    text-transform: uppercase;

    a {
      float:left;
      margin:0px;
    }

    strong {
      color:rgba(0,0,0,0.8);
    }

  }

}

/* ==========================================================================
   Wrapper
   ========================================================================== */

#main-wrapper {

  height:100%;

  #content-section {
    height:100%;
    padding: $header-height 0 0 0;

    #content {
      width:100%;
      height:100%;
      padding: 0 0 0 $navigation-width;
      @include transition(opacity 0.5s);
      display: table;
    }

    #content-inner {
      height:100%;
      display: table-row;

      .wrapper-left,
      .wrapper-right {
        min-height:100%;
        display: table-cell;
      }
    }

  }

  a.is-button {

    @include buttons-general;
    background-color: rgba($sand-dark,0.4);
    color: darken($sand-dark,40%);
    border: 1px solid $sand-dark;
    display: inline-block;
    margin:0 0 0 6px;

    &:hover {
      background-color:rgba($sand-dark,0.6);
      border: 1px solid $sand-dark;
    }

    &.first {
      margin-left: 0px;
    }
  }

}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  width: $navigation-width;
  height:100%;
  padding: 0px;
  margin:-1px 0 0 0;
  float:left;
  background-color: #222;
  position: fixed;

  ul {
    list-style: none;
    margin:0px;
    padding:0px;

    li {
      margin:0px;
      padding:0px;
      width: $navigation-width;
      height: $navigation-width;
      border-bottom:1px solid #444;
      @include transition(all 0.2s);

      &:hover {
        background-color:#333;
      }

      a {
        text-decoration: none;
        color:$body-text-color;
        display: block;
        width: $navigation-width !important;
        height: $navigation-width !important;
        line-height: $navigation-width !important;
        text-align: center;

        span {
          height: $navigation-width !important;
          line-height: $navigation-width !important;
          color:#777;
          @include transition(all 0.2s);
        }

      }

    }

    li.active {
      background-color: #333;

      span {
        color:#777;
      }
    }

  }

}

/* ==========================================================================
   Lists
   ========================================================================== */

ul.items {
  margin:0px;
  padding:0px;
  list-style: none;
  position: relative;

  li.item {

    display: block;
    border-bottom: 1px solid $border-color;
    position: relative;
    padding:15px $padding;


    &:hover {
      background-color: $list-hover-light;
    }

    &:hover .actions {
      opacity: 1;
    }

    &:nth-child(1) {
      display: none !important; /* hide partial template */
    }

    a.link,
    a.details {

      display:inline-block;
      color:$body-text-color;
      text-decoration: none;
      width:100%;

      span {
        display: block;
        color:#999;
      }

    }

    .actions {
      position: absolute;
      top:0;
      right:0;
      text-align: right;
      padding:15px 15px 0 15px;
      opacity:0;
      height: 100%;
      @include transition(opacity 0.2s);

      a {
        text-decoration:none;
        display: inline-block;
        margin:0 0 0 5px;
        color:#666;
        @include transition(color 0.2s);

        &:hover {
          color:$middleblue;
        }

      }

    }

  }

  li.item-form {
    border-bottom: 1px solid $border-color;
  }

  li.list-placeholder {
    padding:15px $padding;
    color:$body-text-color;
  }

}

/* ==========================================================================
   Wrapper - Left
   ========================================================================== */

.wrapper-left {
  width: $wrapper-video-width;
  border-right:1px solid $border-color;

  .group-detail {
    border-bottom: 1px solid $border-color;

    .group-detail-content {

      border-bottom:1px solid $border-color;

      h1 {
        margin:0 0 10px 0;
        font-size: 16px;
      }

      p {
        margin:0 0 10px 0;
      }

    }

    #tab-add-local-media {
      .media-source {
        .chosen-container {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    //.group-video-add,
    .group-video-content {
      border-bottom:1px solid $border-color;
    }

    .group-video-content {

      video {
        width: 100%;
      }

      #video-container {
        width: 100%;
        margin:0 0 10px 0;
      }

      input {
        @include input;

        &:focus {
          @include input-focus;
        }

      }

    }

    .form-crud {
      background-color: $list-hover-light;

      .event-type-selection {
        margin:0 0 10px 0;
      }

    }

  }

  /* styles for groups list */
  .groups-list {

    .form-crud {
      background-color: $list-hover-light;
    }

  }
}

/* tabs */
.tab-container {
  .etabs { 
    margin: 0; 
    padding: 10px;
    padding-bottom: 0;
    background-color: lighten($sand-dark,35%);
  }
  .tab {
    display: inline-block; 
    zoom:1; 
    *display:inline;

    background-color: rgba($sand-dark,0.4);
    color: darken($sand-dark,40%);
    border: 1px solid $border-color;
    border-bottom: none; 
    -moz-border-radius: 4px 4px 0 0; 
    -webkit-border-radius: 4px 4px 0 0; 

    &:hover {
      background-color:rgba($sand-dark,0.6);
      border: 1px solid $border-color;
      border-bottom: none; 
    }

    a { 
      color: darken($sand-dark,40%);
      text-decoration: none;
      display: block; 
      padding: 8px; 
      outline: none;
    }

    a:hover {
      color: darken($sand-dark,40%);
    }

    &.active { 
      background-color: white;
      position: relative;
      top: 1px;
    }

    a.active {
    }
  }
  .panel-container { 
    background: white; 
    // border: solid $sand-dark 1px; 
    border-top: solid $border-color 1px;
  }
}

.users-list {

  li.item.current-user {
    a {
      font-weight: bold;
    }
  }

}

.events-list-content {
  .items {
    .item.context-event {
      a {
        font-weight: bold;
      }
    }
  }
}

.items {
  li.item a small {
    min-width: 24px;
    display: inline-block;
    top: -1px;
    position: relative;
  }
}

/* styles for login form */
.view-login,
.group-detail-view .tab-content,
.view-settings .tab-content {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    @include input;

    &:focus {
      @include input-focus;
    }
  }

  label {
    display: block;
    float:left;
    margin:10px 0 20px 0;

    input {
      margin:0 5px 0 0;
    }
  }

  a {
    display: block;
    float:right;
    margin:10px 0 20px 0;
  }
}

/* ==========================================================================
   Wrapper - Right
   ========================================================================== */

.wrapper-right {
  min-width: 400px;

  .events-list {

    .events-list-content {

      .item {

        &.active {
          background-color: $list-hover-light;
        }

        &.active:before,
        &.active:hover:before {
          color:$middleblue;
        }

        &:before {
          position: absolute;
          font-family: 'Elusive-Icons';
          top:15px;
          color:rgba($body-text-color,0.2);
          left: $padding;
          @include transition(color 0.2s);
        }

        &:hover:before {
          color:rgba($body-text-color,0.6);
        }

        a.link {
          padding-left:50px;

        }

      }

      .item[data-type="movie"]:before,
      .item[data-type="group_movie"]:before,
      .item[data-type="video"]:before {
        // content: "\e012"; // .icon-video
        content: "\e0e9"; // icon-film
      }

      .item[data-type="note"]:before {
        content: "\e029"; // .icon-tag
      }

    }

    .form-crud {
      margin:0 60px 40px 40px;
    }

  }

}

#content-inner {
  .group-detail-view {
    .wrapper-left {
      position: fixed;
      width: 720px;
    }
    .wrapper-right {
      display: inherit !important;
      padding-left: 720px;
      overflow: inside;
      display: block;
    }
  } 
}


/* ==========================================================================
   Special UI functions
   ========================================================================== */

.toggle {
  height: 0px !important;
  padding: 0px !important;
  overflow: hidden !important;
  border-bottom:none !important;
}