/* ==========================================================================
   Import libraries
   ========================================================================== */

@import '../bourbon/bourbon';

/* ==========================================================================
   Sizes
   ========================================================================== */

$header-height: 44px;
$navigation-width: 60px;
$wrapper-video-width: 500px; /* don't forget: browser adds padding to this value */
$padding: 30px;

/* ==========================================================================
   Colors
   ========================================================================== */

$body-text-color: #333;
$dark: #2D323C;
$darkblue: #174A79;
$middleblue: #3B86CC;
$lightblue: #80B4E5;
$orange: #F39C12;
$border-color: #D3D0CA;
$list-hover: #EDF1F4;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin input {
  display: block;
  background-color:#fff;
  border:1px solid $border-color;
  padding:10px;
  margin:0 0 10px 0;
  width:100%;
  @include transition(border-color 0.2s);
}

@mixin input-focus {
  outline:none;
  border:1px solid $middleblue;
}

@mixin buttons {
  background-color:$middleblue;
  padding:8px;
  border:1px solid $middleblue;
  color:#f5f5f5;
  text-decoration: none;
  height: auto;
  @include transition(all 0.2s);
}

@mixin buttons-hover {
  background-color:$lightblue;
  border-color:$middleblue;
}

@mixin buttons-focus {
  background-color:$lightblue;
  border:1px solid $middleblue;
  outline:none;
}

/* ==========================================================================
   General improvements
   ========================================================================== */

/*
 * Fix box-sizing
 */

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Chrome frame
 */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   General Styles
   ========================================================================== */

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 18px;
  color: $body-text-color;
}

h1 {
  font-size: 26px;
  margin:0 0 40px 0;
  padding:0 0 10px 0;
  border-bottom: 1px solid $border-color;
}

h2 {
  font-size: 20px;
  margin:0 0 20px 0;
  padding: 0px;
}

ul {
  list-style: square;
  padding:0px;
  margin:0 0 20px 16px;

}

.padding {
  padding:$padding;
}

.hide {
  display: none !important;
}

.clear {
  clear:both;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  width:100%;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  background-color: #D3D0CA;
  padding:0 20px;

  a {
    float:right;
    display: block;
    margin:0 20px;
    color:rgba(0,0,0,0.6);
    text-decoration: none;
  }

  .logo {
    text-transform: uppercase;

    a {
      float:left;
      margin:0px;
    }

    strong {
      color:rgba(0,0,0,0.8);
    }

  }

}

/* ==========================================================================
   Wrapper
   ========================================================================== */

#main-wrapper {
  height:100%;

  #content-section {
    height:100%;
    padding: $header-height 0 0 0;

    #content {
      height:100%;
      border-top: 1px solid #A19F9A;
      padding: 0 0 0 $navigation-width;
      @include transition(opacity 0.5s);
    }

    #content-inner {
      height:100%;
    }

  }

}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  width: $navigation-width;
  height:100%;
  padding: 0px;
  float:left;
  background-color: #222;
  position: fixed;

  ul {
    list-style: none;
    margin:0px;
    padding:0px;

    li {
      margin:0px;
      padding:0px;
      width: $navigation-width;
      height: $navigation-width;
      border-bottom:1px solid #444;
      @include transition(all 0.2s);

      &:hover {
        background-color:#333;
      }

      a {
        text-decoration: none;
        color:$body-text-color;
        display: block;
        width: $navigation-width !important;
        height: $navigation-width !important;
        line-height: $navigation-width !important;
        text-align: center;

        span {
          height: $navigation-width !important;
          line-height: $navigation-width !important;
          color:#777;
          text-shadow: 0 1px 0 rgba(0,0,0,0.9);
          @include transition(all 0.2s);
        }

      }

    }

    li.active {
      background-color: #333;

      span {
        color:#777;
      }
    }

  }

}

/* ==========================================================================
   Buttons
   ========================================================================== */

input[type="submit"],
button,
.button-row a {
  @include buttons;

  &:hover {
    @include buttons-hover;
  }

  &:focus {
    @include buttons-focus;
  }

}

.button-row {
  height:60px;
  line-height: 60px;
  border-bottom: 1px solid $border-color;
  padding:0 30px;
}

.form-crud {

  background-color: $list-hover;
  padding:15px 30px;

  input[type="text"],
  textarea {
    @include input;

    &:focus {
      @include input-focus;
    }

  }

  input[type="submit"],
  button {
    width: auto;
    float:left;
    margin:0 5px 0 0;
  }

}

/* ==========================================================================
   Wrapper - Left
   ========================================================================== */

.wrapper-left {
  width: $wrapper-video-width;
  min-height:100%;
  float:left;
  border-right:1px solid $border-color;

  /* video content for pieces list view */
  .video-content {
    padding:0 0 30px 0;
    border-bottom: 1px solid $border-color;

    .video-content-inner {

      h1 {
        margin:0 0 10px 0;
        font-size: 16px;
      }

      p {
        margin:0 0 10px 0;
      }

      video {
        width: 100%;
        margin:0 0 30px 0;
      }

    }

  }

  /* styles for groups list */
  .groups-list {

    ul {
      margin:0px;
      padding:0px;
      list-style: none;

      li.item {
        display: block;
        border-bottom:1px solid $border-color;

        &:hover {
          background-color: $list-hover;
        }

        &:hover .actions {
          opacity: 1;
        }

        &:nth-child(2) {
          display: none !important; /* hide partial template */
        }

        a.group-link {
          display:inline-block;
          padding:15px 30px;
          color:$body-text-color;
          text-decoration: none;
          width:400px;
          float:left;

          span {
            display: block;
            color:#999;
          }

        }

        .actions {
          text-align: right;
          padding:15px 15px 0 0;
          opacity:0;

          a {
            display: inline-block;
            margin:0 0 0 5px;
            color:#666;
            @include transition(color 0.2s);

            &:hover {
              color:$middleblue;
            }

          }

        }

      }

    }

  }

}

.group-crud-wrapper {
  height: 0px;
  overflow: hidden;
  border-bottom:none !important;
}

.group-crud-wrapper-open {
  height: auto;
  border-bottom:1px solid $border-color !important;
}

/* styles for login form */
.view-login {
  input[type="text"],
  input[type="password"] {
    @include input;

    &:focus {
      @include input-focus;
    }
  }

  label {
    display: block;
    float:left;
    margin:10px 0 20px 0;

    input {
      margin:0 5px 0 0;
    }
  }

  a {
    display: block;
    float:right;
    margin:10px 0 20px 0;
    color:$body-text-color;
  }
}

/* ==========================================================================
   Wrapper - Right
   ========================================================================== */

.wrapper-right {
  height:100%;
}