/* ==========================================================================
   Import libraries
   ========================================================================== */

@import '../bourbon/bourbon';

/* ==========================================================================
   Sizes
   ========================================================================== */

$header-height: 44px;
$navigation-width: 60px;
$wrapper-video-width: 500px; /* don't forget: browser adds padding to this value */
$padding: 25px;


/* ==========================================================================
   Colors
   ========================================================================== */

$body-text-color: #333;
$dark: #2D323C;
$darkblue: #174A79;
$middleblue: #3B86CC;
$lightblue: #80B4E5;
$orange: #F39C12;
$border-color: #D3D0CA;
$list-hover: #EDF1F4;
$list-hover-light:#FAFBFC;
$sand-dark:#A19F9A;
$sand-light:#D3D0CA;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin input {
  display: block;
  background-color:#fff;
  border:1px solid $border-color;
  padding:10px;
  margin:0 0 10px 0;
  width:100%;
  @include transition(border-color 0.2s);
}

@mixin input-focus {
  outline:none;
  border:1px solid $middleblue;
}

@mixin buttons-general {
  text-decoration: none;
  height: auto;
  @include transition(all 0.2s);
  padding:6px 8px;
  border-radius: 3px;
}

@mixin buttons {
  @include buttons-general;
  background-color:$middleblue;
  border:1px solid $middleblue;
  color:#f5f5f5;

  &:hover {
    background-color:$lightblue;
    border-color:$middleblue;
  }

  &:focus {
    background-color:$lightblue;
    border-color:$middleblue;
    outline:none;
  }

}

@mixin buttons-light {
  @include buttons-general;
  background-color:rgba($middleblue,0.1);
  border:1px solid rgba($middleblue,0.1);
  color:rgba($darkblue,0.8);

  &:hover {
    background-color:rgba($middleblue,0.2);
    border:1px solid rgba($middleblue,0.2);
    color:rgba($darkblue,0.9);
  }

  &:focus {
    background-color:rgba($middleblue,0.2);
    border:1px solid rgba($middleblue,0.2);
    color:rgba($darkblue,0.9);
    outline:none;
  }

  &:before {
    color:rgba($darkblue,0.6);
  }

}

/* ==========================================================================
   General improvements
   ========================================================================== */

/*
 * Fix box-sizing
 */

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Chrome frame
 */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   General Styles
   ========================================================================== */

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 18px;
  color: $body-text-color;
}

h1 {
  font-size: 26px;
  margin:0 0 40px 0;
  padding:0 0 10px 0;
  border-bottom: 1px solid $border-color;
}

h2 {
  font-size: 20px;
  margin:0 0 20px 0;
  padding: 0px;
}

ul {
  list-style: square;
  padding:0px;
  margin:0 0 20px 16px;
}

a:not(.button, .button-light) {
  color:$body-text-color;
  @include transition(color 0.2s);

  &:hover {
    color:rgba($body-text-color,0.6);
  }
}

.padding {
  padding:$padding;
}

.hide {
  display: none !important;
}

.clear {
  clear:both;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  width:100%;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  background-color: $sand-light;
  border-bottom: 1px solid $sand-dark;
  padding:0 20px;
  text-align: right;

  a {
    color:rgba(0,0,0,0.6);
    text-decoration: none;
  }

  a.logout {
    @include buttons-general;
    background-color: rgba($sand-dark,0.4);
    color: darken($sand-dark,40%);
    border: 1px solid $sand-dark;
    line-height: normal;

    &:hover {
      background-color:rgba($sand-dark,0.6);
    }

  }

  .logo {
    text-transform: uppercase;

    a {
      float:left;
      margin:0px;
    }

    strong {
      color:rgba(0,0,0,0.8);
    }

  }

}

/* ==========================================================================
   Wrapper
   ========================================================================== */

#main-wrapper {
  height:100%;

  #content-section {
    height:100%;
    padding: $header-height 0 0 0;

    #content {
      height:100%;
      padding: 0 0 0 $navigation-width;
      @include transition(opacity 0.5s);
    }

    #content-inner {
      height:100%;
    }

  }

}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  width: $navigation-width;
  height:100%;
  padding: 0px;
  margin:-1px 0 0 0;
  float:left;
  background-color: #222;
  position: fixed;

  ul {
    list-style: none;
    margin:0px;
    padding:0px;

    li {
      margin:0px;
      padding:0px;
      width: $navigation-width;
      height: $navigation-width;
      border-bottom:1px solid #444;
      @include transition(all 0.2s);

      &:hover {
        background-color:#333;
      }

      a {
        text-decoration: none;
        color:$body-text-color;
        display: block;
        width: $navigation-width !important;
        height: $navigation-width !important;
        line-height: $navigation-width !important;
        text-align: center;

        span {
          height: $navigation-width !important;
          line-height: $navigation-width !important;
          color:#777;
          text-shadow: 0 1px 0 rgba(0,0,0,0.9);
          @include transition(all 0.2s);
        }

      }

    }

    li.active {
      background-color: #333;

      span {
        color:#777;
      }
    }

  }

}

/* ==========================================================================
   Buttons & Forms
   ========================================================================== */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin:0 6px 0 0 !important;
  font-size: 0.8em;
}

nav [class^="icon-"]:before,
nav [class*=" icon-"]:before {
  font-size: 1.2em;
}

input[type="submit"],
button,
.button-row a,
.button {
  @include buttons;
}

.button-light {
  @include buttons-light;
}

.button-row {
  height:59px;
  line-height: 59px;
  border-bottom: 1px solid $border-color;
  padding:0 $padding;
  background-color: $list-hover;

  a {
    margin:0 10px 0 0;
  }

}

.info-wrapper {

  display: inline-block;
  float:right;

  span.info {
    @include buttons-general;
    color:rgba(0,0,0,0.5);
    border:1px solid rgba(0,0,0,0.1);
  }

  span.info:before {
    color:rgba(0,0,0,0.5);
  }

}

input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
}

input[type="checkbox"] + label {
  line-height: 16px;
  @include transition(color 0.2s);

  &:hover {
    cursor: pointer;
    color:rgba($body-text-color,0.6);
  }
}

input[type="checkbox"]:focus + label:before {
  border-color: $middleblue;
}

input[type="checkbox"] + label:before {
  @include transition(border-color 0.2s);
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  border: 1px solid $border-color;
  color: $body-text-color;
  content: "\e070";
  font-family: 'Elusive-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  line-height: 12px;
  text-indent: -9999px;
}

input[type=checkbox]:checked + label:before {
  text-indent: 0px;
}

.form-crud {

  padding:15px $padding;

  input[type="text"],
  textarea {
    @include input;

    &:focus {
      @include input-focus;
    }

  }

  textarea {
    height:80px;
  }

  input[type="submit"],
  button {
    width: auto;
    float:left;
    margin:0 10px 0 0;
  }

}

/* ==========================================================================
   Wrapper - Left
   ========================================================================== */

.wrapper-left {
  width: $wrapper-video-width;
  min-height:100%;
  float:left;
  border-right:1px solid $border-color;

  /* video content for pieces list view */
  .group-detail {
    border-bottom: 1px solid $border-color;

    .video-content {

      h1 {
        margin:0 0 10px 0;
        font-size: 16px;
      }

      p {
        margin:0 0 10px 0;
      }

      video {
        width: 100%;
        margin:0 0 30px 0;
      }

    }

    .form-crud {
      border-top:1px solid $border-color;
      background-color: $list-hover-light;
    }

  }

  /* styles for groups list */
  .groups-list {

    .form-crud {
      background-color: $list-hover-light;
    }

    ul {
      margin:0px;
      padding:0px;
      list-style: none;

      li.item {
        display: block;
        border-bottom:1px solid $border-color;

        &:hover {
          background-color: $list-hover-light;
        }

        &:hover .actions {
          opacity: 1;
        }

        &:nth-child(2) {
          display: none !important; /* hide partial template */
        }

        a.group-link {
          display:inline-block;
          padding:15px $padding;
          color:$body-text-color;
          text-decoration: none;
          width:400px;
          float:left;

          span {
            display: block;
            color:#999;
          }

        }

        .actions {
          text-align: right;
          padding:15px 15px 0 0;
          opacity:0;

          a {
            text-decoration:none;
            display: inline-block;
            margin:0 0 0 5px;
            color:#666;
            @include transition(color 0.2s);

            &:hover {
              color:$middleblue;
            }

          }

        }

      }

    }

  }

}

.group-crud-wrapper {
  height: 0px;
  overflow: hidden;
  border-bottom:none !important;
}

.group-crud-wrapper-open {
  height: auto;
  border-bottom:1px solid $border-color !important;
}

/* styles for login form */
.view-login {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @include input;

    &:focus {
      @include input-focus;
    }
  }

  label {
    display: block;
    float:left;
    margin:10px 0 20px 0;

    input {
      margin:0 5px 0 0;
    }
  }

  a {
    display: block;
    float:right;
    margin:10px 0 20px 0;
  }
}

/* ==========================================================================
   Wrapper - Right
   ========================================================================== */

.wrapper-right {
  height:100%;
}